<mat-form-field class="mat-form-field-fluid">
    <mat-label>

        <ng-content select="[mMultipleSelectLabel]"></ng-content>

    </mat-label>

    <ng-content select="[mMultipleSelectLabel]"></ng-content>

    <mat-select [formControl]="ngControl.control" multiple #multiSelect>

        <mat-option>

            <ngx-mat-select-search [formControl]="filterCtrl" #search></ngx-mat-select-search>

        </mat-option>

        <mat-option *ngFor="let entity of _data" [value]="entity">

            {{ entity.name }}

        </mat-option>

    </mat-select>

    <mat-hint align="start">
        <strong>
            <ng-content select="[mMultipleSelectActionLabel]"></ng-content>
        </strong>
        <ng-content select="[mMultipleSelectActionHint]"></ng-content>
    </mat-hint>

    <mat-error>
        <ng-content select="[mMultipleSelectError]"></ng-content>
    </mat-error>
    
</mat-form-field>