<mat-form-field class="mat-form-field-fluid">

     <mat-label>

            <ng-content select="[mSingleSelectLabel]"></ng-content>

        </mat-label>

        <ng-content select="[mSingleSelectLabel]"></ng-content> 

        <mat-select [formControl]="ngControl.control" (change)="changeBank($event)"  #singleSelect>

            
            <mat-option>
             
      
                <ngx-mat-select-search [formControl]="filterCtrl" [placeholderLabel]="''"
                    [noEntriesFoundLabel]="'No data found'" #search></ngx-mat-select-search>

            </mat-option> 


            <mat-option *ngFor="let bankGroupCtrl of _data" [value]="bankGroupCtrl">

                {{ bankGroupCtrl.name }}

            </mat-option>

        </mat-select>

        <mat-hint align="start">
            <strong>
                <ng-content select="[mSingleSelectActionLabel]"></ng-content>
            </strong>
            <ng-content select="[mSingleSelectActionHint]"></ng-content>
        </mat-hint>

        <mat-error >
            <ng-content select="[mSingleSelectError]"></ng-content>
        </mat-error> 
  
</mat-form-field>
<!-- <p>Invalid: {{ selectCtrl.invalid }}</p>
<p>Touched: {{ selectCtrl.touched }}</p>
<p>Dirty: {{ selectCtrl.dirty }}</p>

<p>
    Selected Bank: {{selectCtrl.value?.name}}
</p> -->