<mat-form-field class="mat-form-field-fluid" >

    <mat-label>

        <ng-content select="[mSingleSelectLabel]"></ng-content>

    </mat-label>

    <ng-content select="[mSingleSelectLabel]"></ng-content>
  
    <mat-select [formControl]="selectCtrl" #singleSelect>
       

            <mat-option>
             
      
                <ngx-mat-select-search [formControl]="filterCtrl" [placeholderLabel]="''"
                    [noEntriesFoundLabel]="'No data found'" #search></ngx-mat-select-search>

            </mat-option>


            <mat-option *ngFor="let bank of filteredData | async" [value]="bank">

                {{ bank.name }}

            </mat-option>

    </mat-select>
    <mat-error role="alert" style="color: darkred;font-weight:bold;" *ngIf="selectCtrl.invalid && selectCtrl.touched">
        Single Select is required
    </mat-error>

    <mat-hint align="start">
        <strong>
            <ng-content select="[mSingleSelectActionLabel]"></ng-content>
        </strong>
        <ng-content select="[mSingleSelectActionHint]"></ng-content>
    </mat-hint>

    <mat-error *ngIf="ngControl && ngControl.invalid && ngControl.touched">
        <ng-content select="[mSingleSelectError]"></ng-content>
    </mat-error>

</mat-form-field>

<p>Invalid: {{ selectCtrl.invalid }}</p>
<p>Touched: {{ selectCtrl.touched }}</p>
<p>Dirty: {{ selectCtrl.dirty }}</p>

<p>
    Selected Bank: {{selectCtrl.value?.name}}
</p>