<form action="">
    <table>
        <thead>
            <tr>
                <td>Index</td>
                <td>Phone Number</td>
                <td>Type</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" [formControl]="Index" /></td>
                <td><input type="text" [formControl]="PhoneNumber" /></td>
                <td>
                    <select [formControl]="Type">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </td>
                <td><input type="text" [formControl]="Description" /></td>
            </tr>
        </tbody>
    </table>
</form>
<p>Display Value: Index:{{ Index.value }}
    PhoneNumber:{{PhoneNumber.value}}
    Type:{{Type.value}}
    Description:{{Description.value}}
</p>